version: "3.9"
services:
  api:
    image: dzigibau/drs-back:latest
    container_name: flask_api
    ports:
      - "5000:5000"
    environment:
      DATABASE_URL: mysql+pymysql://myuser:mypassword@db:3306/myapp
      BCRYPT_LOG_ROUNDS: "12"
      REDIS_URL: redis://redis:6379/0
    depends_on:
      db:
        condition: service_healthy
      quiz_service:
        condition: service_started

    restart: unless-stopped

  quiz_service:
    image: dzigibau/drs-quiz:latest
    container_name: quiz_service
    ports:
      - "5123:5123"
    environment:
      CORS_ORIGIN: http://api:5000
      PORT: 5123
      HOST: 0.0.0.0
      DEBUG: "False"

      MYSQL_USER: myuser
      MYSQL_PASSWORD: mypassword
      MYSQL_HOST: db
      MYSQL_PORT: 3306
      MYSQL_DB: myapp

      REDIS_HOST: redis
      REDIS_PORT: 6379
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    restart: unless-stopped

  db:
    image: mysql:8.0
    container_name: mysql_db
    environment:
      MYSQL_ROOT_PASSWORD: supersecret
      MYSQL_DATABASE: myapp
      MYSQL_USER: myuser
      MYSQL_PASSWORD: mypassword
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-p$MYSQL_ROOT_PASSWORD"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  redis:
    image: redis:7-alpine
    container_name: redis_cache
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    restart: unless-stopped
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 3s
      retries: 5

volumes:
  mysql_data:
  redis_data: