# Compose za sve servise kasnije
version: "3.9"

services:
  api:
    image: ghcr.io/org/api-kad-upload
    container_name: flask_api
    ports:
      - "5000:5000"
    environment:
      DATABASE_URL: mysql+mysqlconnector://myuser:mypassword@db:3306/myapp
      BCRYPT_LOG_ROUNDS: "12"
    depends_on:
      - db
    restart: unless-stopped

  db:
    image: mysql:8.0
    container_name: mysql_db
    environment:
      MYSQL_ROOT_PASSWORD: supersecret
      MYSQL_DATABASE: myapp
      MYSQL_USER: myuser
      MYSQL_PASSWORD: mypassword
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"
    restart: unless-stopped

volumes:
  mysql_data: